<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            display: flex;
            text-align: center;
            }

        .box {
        width: 50%;
        height: 100px;
        margin: 10px;
        background-color: lightgrey;
        border: 1px solid black;
        
        }
        .box:hover{
            background-color: aqua;
        }

        .img{
            position: absolute;
            width: 40px;
            height: auto;
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="box">
            <H1>ggggg</H1>
            <p>sadadadada</p>
        </div>
        <div class="box">aaa</div>
      </div>
      <div class="container">
        <div class="box">aaaaaa</div>
        <div class="box">aaa</div>
      </div>
      
</body>
</html>