<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/user.css" />
    <script
      src="https://kit.fontawesome.com/9b207dd34b.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <div class="logo">
      B Airline <i class="fa-solid fa-plane"></i>
      <nav>
        <ul>
          <li><a href="/auth/home">Home</a></li>
          <li><a href="/auth/feedback">Feedback</a></li>
          <li><a href="/auth/book">Book</a></li>
          <li>
            <a class="log" id="logout-link">Log out</a>
          </li>
        </ul>
      </nav>
      <i class="fa-solid fa-bars"></i>
    </div>
    <div class="wrap">
      <div class="profile-card">
        <div class="image">
          <img
            src="/male-profile-picture-vector-2051141.jpg"
            alt=""
            class="profile-img"
          />
        </div>
        <input
          value="<%=user.getID()%>"
          type="text"
          hidden
          id="user_id_input"
        />
        <div class="text-data">
          <span class="name"><%= user.getFname()%> <%=user.getlname()%></span>
          <!-- ann any number -->
          <span class="user-name"><%=user.getUserName()%></span>
        </div>
        <div id="box" class="box"></div>
        <style>
          .box {
            height: 50px;
            width: 300px;
            border-radius: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            font-weight: bold;
            color: white;
            margin-top: 10px;
          }
          .box:hover {
            /* cursor: pointer; */
            transform: scale(1.1);
          }
        </style>
        <div class="buttons">
          <a href=" add all tikets page "
            ><button class="button">Booked</button></a
          >
          <a href="book"> <button class="button">Booking</button></a>
        </div>
      </div>
    </div>
  </body>
  <script>
    const color = "blue"; //GIVE THIS POINT TO ANY COLOR (BLUE,SILVER, GOLD)
    const word = "WELCOME"; //GIVE THIS POINT TO ANY WORD(NEW,GOLD OR FREQUENT)
    const box = document.getElementById("box");
    box.style.backgroundColor = color;
    box.innerText = word;
    const logoutlink = document.getElementById("logout-link");
    logoutlink.addEventListener("click", async () => {
      event.preventDefault(); // prevent the default action of the anchor tag
      console.log(document.getElementById("user_id_input").value);
      await fetch("/auth/logout", {
        method: "POST",
        body: {
          user: {
            profile_ID: document.getElementById("user_id_input").value,
          },
        },
        headers: { "Content-Type": "application/json" },
      });
    });
  </script>
</html>
