*{
    margin: 0;
    font-family: 'josefin sans', sans-serif;
}
body{
    background-image: url("travel-wallpaper-collage-desktop-background-for-free-hd-1920x1080-2e4i57dmv8jejhd1.jpg");
    background-size: cover;
    /* min-height: 200vh; */
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    color: white;
    padding: 20px;
}

.fa-bars{
    opacity: 0%;
}
.fa-times{
    opacity: 0%;
}
.fa-plane{
    color: rgb(0,157,190);
}
nav{
    float: right;
    position: relative;
    padding: 0px;
    bottom: .5vh;
    margin-right:40px ;
}
li{
    display: inline ;
    margin: 10px;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: font-size 0.5s;
}

a:hover{
    font-size: 25px;
    transition: 0.5s;
}

@media(max-width: 650px){
    a{
        text-decoration: none;
        font-size: 20px;
        color: white;
        transition: font-size 0.5s;
        line-height: 50px;
    }
    nav{
        opacity: 0%;
        margin-top: 2vh;
        position: relative;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.500);
        backdrop-filter: blur(10px);
        width: 100%;
        height: 90vh;
        top: 1vh;
        border-radius: 5px;
        right: 100%;
        transition:0.5s ;
    }nav.expand{ 
        right: 0%;
        transition: 0.5s;
        opacity: 100%;
    }
    li{
        display: block;
        position: relative;
        top : 25vh;
    }
    .fa-bars{
        font-size: 28px;
        position: relative;
        float: right;
        bottom: 96.5vh;
        margin-right: 40px;
        opacity: 100%;	
    }
    .fa-times{
        font-size: 28px;
        position: relative;
        float: right;
        bottom: 96.5vh;
        margin-right: 40px;
        opacity: 100%;
    }
}  

table {
    margin: 20px;
    margin-right: 10%;
  font-family: arial, sans-serif;
  width: 100%;
  border-collapse: collapse;
  float: center;
}
th, td {
  border: 3px solid #000000;
  text-align: center;
  padding: 8px;
}
.cha-topic {
  background-color: #4c51af;
  color: white;
  font-weight: 1000;
  font-size: 20px;
}
tr:nth-child(even) {
  background-color: #73baf58f;
  text-align: center;
}
.book-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.book-button:hover {
  background-color: #4c51af;
  color: white;
}

