/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
    background-image: url("/USER/Cost\ strategies\ 1.webp");
    /* min-height: 100vh; */
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    color: white;
    padding: 20px;
}

.fa-bars{
    opacity: 0%;
}
.fa-times{
    opacity: 0%;
}
.fa-plane{
    color: rgb(0,157,190);
}
nav{
    float: right;
    position: relative;
    padding: 0px;
    bottom: .5vh;
    margin-right:40px ;
}
li{
    display: inline ;
    margin: 10px;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: font-size 0.5s;
}

a:hover{
    font-size: 25px;
    transition: 0.5s;
}

@media(max-width: 650px){
    a{
        text-decoration: none;
        font-size: 20px;
        color: white;
        transition: font-size 0.5s;
        line-height: 50px;
    }
    nav{
        opacity: 0%;
        margin-top: 2vh;
        position: relative;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.500);
        backdrop-filter: blur(10px);
        width: 100%;
        height: 90vh;
        top: 1vh;
        border-radius: 5px;
        right: 100%;
        transition:0.5s ;
    }nav.expand{ 
        right: 0%;
        transition: 0.5s;
        opacity: 100%;
    }
    li{
        display: block;
        position: relative;
        top : 25vh;
    }
    .fa-bars{
        font-size: 28px;
        position: relative;
        float: right;
        bottom: 96.5vh;
        margin-right: 40px;
        opacity: 100%;	
    }
    .fa-times{
        font-size: 28px;
        position: relative;
        float: right;
        bottom: 96.5vh;
        margin-right: 40px;
        opacity: 100%;
    }
}  
/* end of navi */
.wrap{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #f4f4f427; */
}
.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  width: 100%;
  background: #fff;
  border-radius: 24px;
  padding: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
.profile-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 36%;
  width: 100%;
  border-radius: 24px 24px 0 0;
  background-color: #4070f4;
}
.image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #4070f4;
  padding: 3px;
  margin-bottom: 10px;
}
.image .profile-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}
.profile-card .text-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}
.text-data .name {
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
}
.text-data .job {
  font-size: 15px;
  font-weight: 400;
}
.profile-card .media-buttons {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.media-buttons .link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin: 0 8px;
  background-color: #4070f4;
  text-decoration: none;
}
.profile-card .buttons {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.buttons .button {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: 24px;
  margin: 0 10px;
  padding: 8px 24px;
  background-color: #4070f4;
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttons .button:hover {
  background-color: #0e4bf1;
}
.profile-card .analytics {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.analytics .data {
  display: flex;
  align-items: center;
  color: #333;
  padding: 0 20px;
  border-right: 2px solid #e7e7e7;
}
.data i {
  font-size: 18px;
  margin-right: 6px;
}
.data:last-child {
  border-right: none;
}
/* FOOTER */
