.box {
    text-align: center;
    position: relative;
    display: flex;
    margin: auto;
    width: 50%;
  }
  
  .box img {
    width: 400px;
    height: 400px;
    background-color: aqua;
    margin: 20px ;
    padding: 20px;
  }
  .row{
    margin: 20px;
    position: relative;
    float: center;
  }
  .description {
    width: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }
  
  .box:hover .description {
    visibility: visible;
    opacity: 1;
  }
  